/*
    Main css Trail bikes 
    credits: Noah Thony
*/

/*================================

        Main layout design 

=================================*/

/* --- variables setup --- */

:root{
    --bg: rgb(0,1,2);
    --clr-title: #fff;
    --clr-text: rgb(141, 141, 141);
    --accent: red;
    --accent-light: rgb(132, 0, 0);
}


/* --- page layout--- */

html{
    scroll-behavior: smooth;
}

body{
    background: var(--bg);
    color: var(--clr-text);
}
header{
    background-image: 
            linear-gradient(
                to bottom,
                rgba(255, 255, 255, 0), 
                rgba(0, 0, 0, 0.2),
                rgba(0, 0, 0, 1)), 
                url("assets/dark-bike.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    height: 80vh;
    

}

h1, h2, h3, h4{
    color: var(--clr-title);
    text-transform: uppercase;
    margin-bottom: 0;
}
h3{
    font-size: 1.6rem;
}
h2{
    font-size: 1rem;
    font-weight:lighter;
}
h2 span,
h2 span::before{
    display: inline-block;
    position: relative;
    width: 3.5rem;
    height: 2px;
    margin-right: 0.5rem;
}

h2 span::before{
    content: '';
    position: absolute;
    background-color: var(--accent);
    left: 0;
    bottom: 0.25rem;
}


section{
    margin-bottom: 5rem;
}


/* ------------------------- navigation bar ------------------------- */

.menu-bar{
    position: relative;
    /* border-bottom: 1px solid red; */
}

.main-menu{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--bg);
    transform: scale(0,1);
    transform-origin: right;
    transition: transform 400ms ease-in-out;
}
.main-menu ul{
    margin: 0;
    padding: 1rem 2rem;
    list-style: none;
}
.main-menu li{
    padding: 1rem;
    

}

.main-menu a{
    position: relative;
    text-transform: uppercase;
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--clr-title);
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.main-menu a::after{
    content: "";
    display: block;
    height: 2px;
    background-color: var(--accent);
    position: absolute;
    top: 1.5rem;
    left: 0;
    right: 0;
    transform: scale(0,1);
    transition: transform ease-in-out 250ms;
}

.main-menu a:hover{
    color: var(--accent);
}
.main-menu a:hover::after{
    transform: scale(1,1);
}

/* --- creating the toggle system --- */

.nav-toggle{
    display: none;
}

.nav-toggle:checked ~ nav{
    transform: scale(1,1);
}
.nav-toggle:checked ~ nav a{
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle-label{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

/* creating the hamburger menu */

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
    display: block;
    background-color: grey;
    height: 3px;
    width: 2rem;
    border-radius: 3px;
    position: relative;
    margin-right: 1rem;
}

/* pseudo elements display */

.nav-toggle-label span::before,
.nav-toggle-label span::after{
    content: '';
    position: absolute;
}

.nav-toggle-label span::before{
    bottom: 7px;
}

.nav-toggle-label span::after{
    top: 7px;
}

/* adding transitions and animations  */


/* ------------------------- header: call to action ------------------------- */

.cta{
    width: 65%;
    margin-left: auto;
    margin-right: 0.5rem;
    color: var(--clr-title)
}
.price{
    display: flex;
    justify-content: flex-start;
}
.price :last-child{
    justify-self: flex-end;
    text-align: right;
}
.description{
    margin-bottom: 0.5rem;
}

.model, .model-colour{
    display: inline-block;
}

.model-colour{
    margin-right: 1px;
    margin-left: auto;
}




/* ------------------------- section: how it works ------------------------- */


.technologies{
    text-align: center;
}

.features{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:1rem;
    font-size: 0.9rem;
    margin-bottom: 5rem;
}
.feature-card{
    width: 40%;

}

.title{
    text-transform: uppercase;
    color: var(--clr-title);
}



/* ------------------------- section: more info ------------------------- */

.more-info{
    margin-bottom: 5rem;
}
.more-info-main{
    width: 70%;
    margin-right: 1rem;
    margin-left: auto;
    margin-bottom: 5rem;
}

.design-desc{
    display: flex;
    justify-content: space-around;
}
.card-2{
    width: 30%;
    position: relative;
}

.card-2::after{
    content: '';
    height: 1px;
    width: 80%;
    position: absolute;
    background-color: var(--accent-light);
}
.card-2:active::after{
    height: 3px;
    background-color: var(--accent);
}


/* ------------------------- section: cta ------------------------- */

.cta-content{
    width: 70%;
}
.cta-content input{
    height: 1.5rem;
}
.cta-content button{
    background-color: var(--accent);
    height: 1.9rem;
    border-radius: 0 1rem 0 1rem;
    color: var(--clr-title);
    text-transform: uppercase;
    border: 1px solid #000;
}


/* ------------------------- section: bike specs ------------------------- */

.specs-content{
    width: 70%;
    margin-right: 1rem;
    margin-left: auto;
}
.specs-content p{
    position: relative;
}
.specs-content p::after{
    content: '';
    position: absolute;
    background-color: var(--accent);
    height: 2px;
    top: 1.5rem;
    left: 0;
}
.specs-content :nth-child(3)::after{
    width: 5rem;
}
.specs-content :nth-child(4)::after{
    width: 8rem;
}
.specs-content :nth-child(5)::after{
    width: 11rem;
}

.card-3{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.card-3 p{
    font-size: 0.9rem;
}

/* ------------------------- section: bike details ------------------------- */

.details{
    display: flex;
}

.details-info-row{
    display: grid;
}
.details-info{
    width: 40%;
    border: 1px solid #fff;
}
.part{
    color: var(--clr-title);
    text-transform: capitalize;
}














/* ====================================================================== */
/*                           LARGE SCREEN LAYOUT                          */
/* ====================================================================== */

@media screen and (min-width: 992px){
    /* header design  */
    
}


/* ====================================================================== */
/*                           UTILITY CLASSES                              */
/* ====================================================================== */

.upper{
    text-transform: uppercase;
}
.cap{
    text-transform: capitalize;
}
